.header {
  &_bar {
    display: flex;
    height: 50px;
    background-color: #000;
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    // align-content: stretch;
    justify-content: space-around;
    align-items: center;
    box-shadow: 15vw 0 0 #000, -15vw 0 0 #000;
  }
  &_logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 15px;
  }
  &_cartIcon {
    position: fixed;
    top: 0.5em;
    right: 2em;
    z-index: 1000;
  }
}

@media (max-width: 576px) {
  .header {
    &_bar {
      display: none;
      //visibility: hidden;
    }
    &_cartIcon {
      position: fixed;
      top: 1em;
      right: 2em;
      z-index: 10000;
    }
  }
}
