.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 80px;
  &_router {
    margin-top: 40px;
  }
}
@media (orientation: portrait) and (max-width: 576px) {
  .box {
    margin: 0;
  }
  img {
    width: 100%;
  }
}
