.navi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  //filter: blur(4px);

  &_li {
    background-color: #ffffff;
    font-size: 24px;
    line-height: 29px;
    padding: 18px 24px;

    border: 0px solid #000000;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    list-style-type: none;
  }
  &_li a {
    color: black;
    text-decoration: none;
  }
  &_li:hover {
    color: black;
    position: relative;
    top: -5px;
  }
}
.bgc_active {
  position: fixed;
  top: 0;
  left: 0;
  width: 110vw;
  height: 110vh;
  background-color: rgba(192, 192, 192, 0.8);
}
.burger {
  display: none;
  position: fixed;
  top: 0.5rem;
  left: 1rem;
  border-radius: 25%;
  z-index: 10000;
}

.burger_active {
  animation: burgerPos 2s ease;
  left: 5rem;
  color: white;
}

.bar {
  z-index: 9999;
}
.bar_active {
  background-color: #0d2538;
  width: 300px;
  padding-top: 5rem;
  top: -1%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  animation: opacityIn 2s ease;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

@keyframes opacityIn {
  from {
    opacity: 0;
    top: -50%;
  }
  to {
    opacity: 1;
    top: -1%;
  }
}
@keyframes burgerPos {
  from {
    left: 1rem;
  }
  to {
    left: 5rem;
  }
}
.navi_active {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  &_li-active {
    background-color: #0d2538;

    &_li-active:hover {
      position: relative;
      top: -5px;
    }
  }
}

@media (max-width: 767.8px) {
  .navi {
    display: none;
    border-bottom: 0px;
    &_li {
      background-color: #0d2538;
    }
    &_li a {
      color: white;
    }
    &_li:hover {
      position: relative;
      top: -5px;
    }
  }
  .burger {
    display: flex;
  }
  .navi_active {
    display: flex;
  }
}
@media (max-width: 1023.8px) {
  .navi {
    &_li {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 12px;
    }
  }
}
@media (max-width: 1199.8px) {
  .navi {
    &_li {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 12px;
    }
  }
}
