.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  //filter: blur(4px);

  &_li {
    background-color: #ffffff;
    font-size: 24px;
    line-height: 29px;
    padding: 18px 24px;

    border: 0px solid #000000;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    list-style-type: none;
  }
  &_li a {
    color: black;
    text-decoration: none;
  }
  &_li:hover {
    position: relative;
    top: -5px;
  }
}
