.trend {
  display: flex;
  flex-direction: row;
  align-items: center;
  &_aside {
    padding: 120px 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    background: rgba(0, 48, 73, 0.67);

    box-shadow: 1288px 0 0 rgba(0, 48, 73, 0.67),
      -190px 0 0 rgba(0, 48, 73, 0.67), 200px 0 0 rgba(0, 48, 73, 0.67);

    &_main {
      font-family: "Milonga";
      margin-bottom: 60px;
      letter-spacing: -0.07em;
    }
    &_dscb {
      font-family: "Milonga";
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 64px;
    }
    &_check {
      font-family: "Milonga";
      text-decoration-line: underline;
      letter-spacing: -0.07em;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
  }
}
@media (max-width: 1199.8px) {
  .trend {
    flex-direction: column-reverse;

    &_aside {
      padding: 2rem 0;
      font-size: 28px;
      border-left: 17.9rem solid rgba(0, 48, 73, 0);
      border-right: 17.9rem solid rgba(0, 48, 73, 0);
      box-shadow: none;
      &_main {
        font-size: 32px;
        margin-bottom: 16px;
      }
      &_dscb {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 767.8px) {
  .trend {
    flex-direction: column-reverse;
    align-items: left;
    &_aside {
      padding: 5px 0;
      font-size: 16px;
      border-left: 0;
      border-right: 0;
      box-shadow: 1288px 0 0 rgba(0, 48, 73, 0.67),
        -190px 0 0 rgba(0, 48, 73, 0.67), 200px 0 0 rgba(0, 48, 73, 0.67);

      &_main {
        font-size: 16px;
        margin-bottom: 12px;
      }
      &_dscb {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 12px;
      }
    }
  }
}
