@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Milonga:wght@300;400&display=swap");

@import "./style/Header.scss";
@import "./style/Main.scss";
@import "./style/Footer.scss";
@import "./style/Slider.scss";
@import "./style/Nav.scss";
@import "./style/Trend.scss";
@import "./style/product.scss";
@import "./style/cart.scss";
* {
  margin: 0 auto;
  clear: both;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 1640px;
}
